@page "/create-post"
@using Forum.Contracts.Common;
@using Forum.Contracts.Post;
@using Forum.Contracts.Tags;
@using Forum.Server.Common.Interfaces;
@using MudBlazor
@using System.Net.Http.Headers;
@inject ISnackbar Snackbar
@inject HttpClient Http
@inject IDialogService DialogService
@inject ITokenStorageService TokenStorageService
@inject NavigationManager NavigationManager
@inject IAPIClient APIClient

<MudForm @ref="form" @bind-IsValid="validPost">
    <MudGrid Justify="Justify.Center" Spacing="2">
        <MudItem xs="12" lg="10">
            <MudPaper Class="pa-1 mb-n1" Outlined="true">
                <MudTextField T="string"
                @bind-Value="@postTitle"
                              Counter="64"
                              Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))"
                              Label="Title"
                              Required="true"
                              RequiredError="Please enter a title."
                              Immediate="true"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Class="pa-3 mb-n4" />
                <MudTextField T="string"
                @bind-Value="@postContent"
                              Class="px-3"
                              Lines="7"
                              Counter="8192"
                              Validation="@(new Func<string, IEnumerable<string>>(MaxCharactersContent))"
                              Label="Write something mysterious"
                              Required="true"
                              RequiredError="Please enter some content."
                              Variant="Variant.Filled"
                              Immediate="true" />
                <MudContainer MaxWidth="MaxWidth.Large" Class="pa-4">
                    <MudContainer Class="mt-n2">
                        <MudTextField T="string"
                                      Value="@searchText"
                                      ValueChanged="@(async (x)=> await HandleInputChange(x.ToString()))"
                                      Immediate="true"
                                      Placeholder="Search tags"
                                      Class="pa-2" />
                    </MudContainer>
                    <MudContainer Class="px-6">
                        <MudChipSet SelectedValues="this.addedTags" MultiSelection="true" Filter="true">
                            @foreach (var item in filteredTags.Take(20))
                            {
                                var color = GetChipColor(item);
                                <MudChip SelectedColor="Color.Error" Color="color" Variant="Variant.Outlined" Text="@item" Value="@item" OnClick="() => ToggleChip(item)"></MudChip>
                            }
                            @if (filteredTags.Count() > 20)
                            {
                                if (!areTagsExpanded)
                                {
                                    <MudTooltip Placement="Placement.Right" Color="Color.Dark" Text="Show more">
                                        <MudIconButton Icon="@Icons.Material.Outlined.ExpandMore" Color="Color.Info" @onclick="ToggleTags" />
                                    </MudTooltip>
                                }
                                else
                                {
                                    foreach (var tag in filteredTags.Skip(20))
                                    {
                                        var color = GetChipColor(tag);
                                        <MudChip SelectedColor="Color.Error" Color="color" Variant="Variant.Outlined" Value="@tag" Text="@tag" OnClick="() => ToggleChip(tag)"></MudChip>
                                    }
                                    <MudTooltip 
                                    Placement="Placement.Right" 
                                    Color="Color.Dark" 
                                    Text="Show less">
                                        <MudIconButton 
                                        Icon="@Icons.Material.Outlined.ExpandLess" 
                                        Color="Color.Info" 
                                        @onclick="ToggleTags" />
                                    </MudTooltip>
                                }
                            }
                            <MudTooltip 
                            Placement="Placement.Right" 
                            Color="Color.Dark" 
                            Text="Create a new tag">
                                <MudIconButton 
                                Color="Color.Success" 
                                Icon="@Icons.Material.Filled.AddCircle" 
                                OnClick="OpenDialog" />
                            </MudTooltip>
                        </MudChipSet>
                        <MudDivider />
                        <MudContainer>
                            <div class="mt-2 mb-n3 ml-n6">
                                <MudButton 
                                Variant="Variant.Filled" 
                                Color="Color.Primary" 
                                Disabled="@(!validPost)" 
                                OnClick="SubmitPost">Post</MudButton>
                                <MudButton 
                                Variant="Variant.Outlined" 
                                Color="Color.Tertiary" 
                                OnClick="NavigateToHome">Cancel</MudButton>
                            </div>
                        </MudContainer>
                    </MudContainer>
                </MudContainer>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudForm>


<MudDialog @bind-IsVisible="visible" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.NewLabel" Class="mr-3" /> Create a new tag
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField T="string" @bind-Value="newTag" Label="Tag name"></MudTextField>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Outlined" OnClick="Close" Class="px-10">Cancel</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="Submit" Class="px-10">Create Tag</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private string? postTitle;
    private string? postContent;
    private string? selectedTag;
    private bool resetValueOnEmptyText;
    private bool coerceText;
    private bool coerceValue;
    private bool confirmationDialogVisible = false;

    private MudForm? form;
    private bool validPost;

    private string searchText = "";
    private string? newTag;
    private IList<string> tags = new List<string>();
    private bool areTagsExpanded = false;
    private bool isTagAdded = false;

    private IList<object> addedTags = new List<object>();
    private IList<string> filteredTags = new List<string>();

    private static Dictionary<string, Color> chipColors = new Dictionary<string, Color>();

    private bool visible;
    private DialogOptions dialogOptions = new() { FullWidth = true, CloseOnEscapeKey = true };

    private void OpenDialog() => visible = true;
    private void Close() => visible = false;
    private async Task Submit()
    {
        visible = false;
        await CreateTag();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetTags();
        await FilterTags();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await TokenStorageService.RetrieveToken();
            if (string.IsNullOrEmpty(token))
            {
                NavigationManager.NavigateTo("/login");
            }

            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
    }

    private Color GetChipColor(string tag)
    {
        if (!chipColors.ContainsKey(tag))
        {
            var randomColor = GetRandomColor();
            chipColors.Add(tag, randomColor);
        }

        return chipColors[tag];
    }

    private Color GetRandomColor()
    {
        var values = Enum.GetValues(typeof(Color));
        var random = new Random();
        var randomColor = (Color)values.GetValue(random.Next(values.Length))!;
        return randomColor;
    }

    private void ToggleChip(string tag)
    {
        if (addedTags.Contains(tag))
        {
            addedTags.Remove(tag);
        }
        else
        {
            addedTags.Add(tag);
        }
    }

    private void ToggleTags()
    {
        areTagsExpanded = !areTagsExpanded;
    }

    private async Task HandleInputChange(string value)
    {
        searchText = value;
        await FilterTags();
    }

    private async Task FilterTags()
    {
        if (string.IsNullOrEmpty(searchText))
        {
            filteredTags = tags.ToList();
        }
        else
        {
            filteredTags = tags.Where(tag => tag.Contains(searchText)).ToList();
        }
        StateHasChanged();
    }

    private async Task SubmitPost()
    {
        var token = await TokenStorageService.RetrieveToken();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        var postRequest = new CreatePostRequest(
            postTitle,
            postContent,
            addedTags.Select(x => x.ToString()).ToList()!
        );

        var response = await APIClient.CreatePostRequestAsync(postRequest, token);


        if (this.Snackbar.HandleResponse(response))
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add("Post created successfully!", Severity.Success);
            var postId = Guid.Parse(response.Model!.Id);
            NavigationManager.NavigateTo($"/post/{postId}");
        }
        else
        {
            Snackbar.Add(response.ErrorMessage, Severity.Error);
        }
    }

    private IEnumerable<string> MaxCharacters(string ch)
    {
        if (!string.IsNullOrEmpty(ch) && 64 < ch?.Length)
            yield return "Max 64 characters";
    }

    private IEnumerable<string> MaxCharactersContent(string ch)
    {
        if (!string.IsNullOrEmpty(ch) && 8192 < ch?.Length)
            yield return "Max 8192 characters";
    }

    private async Task<IEnumerable<string>> SearchTags(string search)
    {
        var response = await APIClient.GetTagsAsync();
        var tags = response.Model;

            if (string.IsNullOrWhiteSpace(search))
                return tags!.Select(t => t.Name);

            return tags!
                .Where(x => x.Name.Contains(search, StringComparison.InvariantCultureIgnoreCase))
                .Select(x => x.Name);
    }

    private async Task GetTags()
    {
        var response = await APIClient.GetTagsAsync();
        if(Snackbar.HandleResponse(response))
        {
            var tags = response.Model;
            this.tags = tags!.Select(t => t.Name).ToList();
        }
    }

    private void AddTag(string tag)
    {
        addedTags.Add(tag);
    }

    private async Task CreateTag()
    {
        if (string.IsNullOrWhiteSpace(newTag))
        {
            Snackbar.Add("Please enter a tag name.", Severity.Warning);
            return;
        }
        newTag = newTag.Trim();
        var request = new CreateTagRequest(newTag);
        var response = await Http.PostAsJsonAsync("https://localhost:7050/api/tags", request);
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add($"Tag {newTag} created successfully.", Severity.Success);
        }
        else
        {
            Snackbar.Add($"Tag {newTag} could not be created.", Severity.Error);
        }
        newTag = string.Empty;
        await GetTags();
        await FilterTags();
        StateHasChanged();
    }

    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private bool IsTagAdded(string tag)
    {
        if (addedTags.Contains(tag))
        {
            return !isTagAdded;
        }
        else
        {
            return isTagAdded;
        }
    }
}
