@inject HttpClient HttpClient
@using Forum.Contracts.Post
@using Forum.Server.Common;
@using Forum.Server.Common.Interfaces;
@page "/ten-most-recent"
@inject ISnackbar Snackbar
@inject IAPIClient APIClient
<style>
    .table-row {
        transition: background-color 0.3s;
    }

        .table-row:hover {
        }

    .post-card {
        border-radius: 4px;
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .post-card-title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .post-card-content {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .post-card-details {
        font-size: 12px;
    }

    .post-card-details-item {
        margin-right: 16px;
    }

    .post-card-title a:hover,
    .post-card-title a:focus {
        text-decoration: underline;
    }
</style>

<PageTitle>10 Most Recent Posts</PageTitle>

<MudTable Items="@Posts?.Posts" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Title</MudTh>
        <MudTh>Content</MudTh>
        <MudTh>Likes</MudTh>
        <MudTh>Dislikes</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ToggleDetails(context.Id))">
                Show
                @(IsExpanded(context.Id) ? "Less" : "More")
            </MudButton>
        </MudTd>
        <MudTd DataLabel="Title">
            <div class="post-card-title">
                <a href="/post/@context.Id">@context.Title</a>
            </div>
        </MudTd>
        <MudTd DataLabel="Content">
            <MudText Class="post-card-content">@context.Content.Substring(0, Math.Min(context.Content.Length, 30))</MudText>
        </MudTd>
        <MudTd DataLabel="Likes">@context.Likes.Amount</MudTd>
        <MudTd DataLabel="Dislikes">@context.Dislikes.Amount</MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (IsExpanded(context.Id))
        {
            <MudTr>
                <td colspan="5">
                    <div class="post-card">
                        <div class="post-card-title">@context.Title</div>
                        <div class="post-card-content">Content: @context.Content</div>
                        <div class="post-card-details">
                            <div class="post-card-details-item">Likes: @context.Likes.Amount</div>
                            <div class="post-card-details-item">Dislikes: @context.Dislikes.Amount</div>
                            <div class="post-card-details-item">Comments: @context.Comments</div>
                            <div class="post-card-details-item">Posted at: @context.Timestamp</div>
                            <div class="post-card-details-item">Last edited at: @context.EditedTimestamp</div>
                        </div>
                    </div>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>

@code
{
    private PostResponseListNew? Posts { get; set; }
    private Dictionary<string, bool> ExpandedStates { get; set; } = new Dictionary<string, bool>();

    protected override async Task OnInitializedAsync()
    {
        await GetMostCommentedAsync();
    }

    private async Task GetMostCommentedAsync()
    {
        var response = await APIClient.GetMostRecentAsync();

        if(this.Snackbar.HandleResponse(response))
        {
            Posts = response.Model;
        }
        else
        {
            this.Snackbar.Add(response.ErrorMessage, Severity.Error);
        }
    }

    private bool IsExpanded(string postId)
    {
        return ExpandedStates.ContainsKey(postId) && ExpandedStates[postId];
    }

    private void ToggleDetails(string postId)
    {
        if (ExpandedStates.ContainsKey(postId))
        {
            ExpandedStates[postId] = !ExpandedStates[postId];
        }
        else
        {
            ExpandedStates.Add(postId, true);
        }
    }
}
